* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;

}

.slider {
    margin: 0 auto;
    width: 70%;
    height: 70%;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {

    background-color: rgb(238, 227, 227);
    font-size: 20px;
    width: 60px;
    border-radius: 50%;
    padding: 15px;
    align-self: center;
    cursor: pointer;
    z-index: 222;
    margin: -60px;
}